version: "3.3"
services:
  kodzuthon:
    build: .
    image: kodzuthon
    volumes:
      - kodzuthon-session:/app/session_data
    env_file:
    - .env
    container_name: kodzuthon-container
    networks:
      - kodzuverse
    restart: unless-stopped

  whisper:
    build: whisperApi/.
    container_name: kodzuthon-whisper
    networks:
      - kodzuverse
    restart: unless-stopped

networks:
  kodzuverse:
    name: kodzuverse_network
    external: true

volumes:
  kodzuthon-session:
