asyncio==3.4.3
basemap==1.4.1
cachetools==5.5.0
googlesearch-python==1.2.5
googletrans==4.0.2
gTTS==2.5.4
matplotlib==3.8.4
telethon==1.41.1
numpy==1.26.4
pandas==2.2.3
qbstyles==0.1.4
yfinance==0.2.54
