[Unit]
Description=Telethon service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
User={username}
WorkingDirectory=/home/bots/kodzu_thon
ExecStart=/usr/bin/python3.7 /home/bots/kodzu_thon/main.py

[Install]
WantedBy=multi-user.target